:root {
  --teal: rgb(0, 255, 209);
  --ocean-blue: rgb(49, 198, 212);
  --bright-yellow: rgb(255, 255, 0);
  --bright-red: rgb(255, 30, 30);

  --darker-red: rgb(210, 0, 26);
  --cream-white: rgb(255, 250, 231);
  --light-grey: rgb(239, 239, 239);

  --light-blue: rgb(195, 248, 255);
  --baby-blue: rgb(171, 217, 255);
  --light-yellow: rgb(255, 246, 191);
  --light-medium-yellow: rgb(255, 235, 173);
  --very-light-blue: rgb(185, 255, 248);
  --neon-teal: rgb(111, 237, 214);
  --bright-orange: rgb(255, 149, 81);
  --light-red: rgb(255, 74, 74);
}

  /* Get Palette From Coolors */

   /* 
  https://colorhunt.co/palette/00ffd131c6d4ffff00ff1e1e
  https://colorhunt.co/palette/d2001affde00fffae7efefef
  https://colorhunt.co/palette/c3f8ffabd9fffff6bfffebad
  https://colorhunt.co/palette/b9fff86fedd6ff9551ff4a4a
  */

body{
  margin: 0px;
  padding: 0px;
}

.nav{
  background-color: var(--ocean-blue);
  padding: 3% 5%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  transition: .5s;
}

.nav-link{
  list-style: none;
  color: white;
  text-decoration: none;
  margin: 0% 3%;
  font-weight: bold;
  font-family: fantasy;
  font-size: 1.5vw;
}

.nav-li{
  display: inline;
  margin: none;
  background-color:var(--neon-teal);
  padding: 2%;
  border-radius: 50px;
}

.nav-li:hover{
  background-color:var(--teal);
  box-shadow: 5px 5px 0px gray;
}

.scrolling-active{
  background-blend-mode:  color;
  padding: 2% 5%;
}
