@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --teal: rgb(0, 255, 209);
  --ocean-blue: rgb(49, 198, 212);
  --bright-yellow: rgb(255, 255, 0);
  --bright-red: rgb(255, 30, 30);

  --darker-red: rgb(210, 0, 26);
  --cream-white: rgb(255, 250, 231);
  --light-grey: rgb(239, 239, 239);

  --light-blue: rgb(195, 248, 255);
  --baby-blue: rgb(171, 217, 255);
  --light-yellow: rgb(255, 246, 191);
  --light-medium-yellow: rgb(255, 235, 173);
  --very-light-blue: rgb(185, 255, 248);
  --neon-teal: rgb(111, 237, 214);
  --bright-orange: rgb(255, 149, 81);
  --light-red: rgb(255, 74, 74);
}

/* Get Palette From Coolors */

/* 
  https://colorhunt.co/palette/00ffd131c6d4ffff00ff1e1e
  https://colorhunt.co/palette/d2001affde00fffae7efefef
  https://colorhunt.co/palette/c3f8ffabd9fffff6bfffebad
  https://colorhunt.co/palette/b9fff86fedd6ff9551ff4a4a
  */

body {
  margin: 0px;
  padding: 0px;
}

.web-nav {
  background-color: var(--ocean-blue);
  padding: 30px 5%;
  position: sticky;
  top: 0;
  transition: 0.5s;
}

.nav-link {
  list-style: none;
  color: var(--cream-white);
  text-decoration: none;
  margin: 0% 2%;
  font-weight: bold;
  font-family: Nunito;
  font-size: 1.35vw;
}

.home-nav-link {
  margin-right: 10%;
}

.nav-li {
  display: inline;
  margin: none;
  padding: 20px 1.5%;
  border-radius: 50px;
}

.nav-li:hover {
  background-color: #ffffff;
  color: var(--ocean-blue);
}

.scrolling-active {
  background-blend-mode: color;
  padding: 2% 5%;
}

.nav-images {
  margin-right: 10px;
}
